<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wuruixuan.androidstudy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StyleAndThemeActivity" android:theme="@style/MyAppTheme"/>
        <activity android:name=".activity.RelativeLayoutActivity" />
        <activity android:name=".activity.LinearLayoutActivity" />
        <activity android:name=".activity.GridLayoutActivity" />
        <activity android:name=".activity.FrameLayoutActivity" />
        <activity android:name=".activity.TableLayoutActivity" />
        <activity android:name=".activity.NotificationClickActivity" />
        <activity android:name=".activity.NotificationsActivity" />
        <activity android:name=".activity.PopupWindowActivity" />
        <activity
            android:name=".activity.ViewPagerActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.PopupMenuActivity" />
        <activity android:name=".activity.ContextMenuActivity" />
        <activity android:name=".activity.OptionsMenuActivity" />
        <activity android:name=".activity.ViewFlipperActivity" />
        <activity android:name=".activity.TextSwitcherActivity" />
        <activity android:name=".activity.ImageSwitcherActivity" />
        <activity android:name=".activity.ExpandableListViewActivity" />
        <activity android:name=".activity.ListViewActivity6" />
        <activity android:name=".activity.ListViewActivity5" />
        <activity android:name=".activity.ListViewActivity4" />
        <activity android:name=".activity.ListViewActivity3" />
        <activity android:name=".activity.ListViewActivity2" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.GridViewActivity2" />
        <activity android:name=".activity.GridViewActivity" />
        <activity android:name=".activity.TimePickerAndDatePickerActivity" />
        <activity android:name=".activity.DatePickerActivity" />
        <activity android:name=".activity.TimePickerActivity" />
        <activity android:name=".activity.AlertDialogActivity" />
        <activity android:name=".activity.ProgressBarActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.RatingBarActivity" />
        <activity android:name=".activity.ToggleButtonActivity" />
        <activity android:name=".activity.RadioButtonActivity" />
        <activity android:name=".activity.CheckBoxActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".activity.ButtonActivity" />
        <activity android:name=".activity.EditTextActivity" />
        <activity android:name=".activity.TextViewActivity" />
        <activity android:name=".activity.ToastActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>